- var self = 'testimonial-card';

mixin testimonial-card(cls, testimonial)
  section(class = `${cls} ${self}`)
    h4(class = `${self}__title`)= `${testimonial.city}, ${testimonial.date}`
    p(class = `${self}__text`)= testimonial.text
    div(class = `${self}__name`)= testimonial.name
