include ./_button.pug

mixin donate-card(cls, donate)
  - var self = 'donate-card';
  div(class = `${cls} ${self} ${self}--${donate.animal.kind}`,
      onclick = 'this.querySelector(".btn").click()'
     )
    figure(class = `${self}__pict`)
      img(class = `${self}__photo`,
          src = donate.animal.imgSrc,
          alt=`${donate.animal.kind} — ${donate.animal.name}`)
    p(class = `${self}__text`)= donate.text[0]
      each str in donate.text.slice(1)
        br
        = str
    +btn('a', {text: 'feed', href: donate.animal.pageLink}, 'text', 'free')
