include ./_link.pug

mixin nav-menu(cls, page, data, root)
  -
    var menu_data = [
      { text: 'about',      link: root},
      { text: 'map',        link: 'pages/map.html'},
      { text: 'zoos',       link: 'pages/zoos/panda.html'},
      { text: 'contact us', link: 'pages/contact-us.html'},
    ]
    Array.isArray(data) && (menu_data = menu_data.concat(data));

    var nav = 'nav-menu';

  nav(class = `${nav} ${cls}__${nav}`)
    ul(class = `${nav}__items`)
      each item in menu_data
        li(class = `${nav}__item`)
          +link([nav, cls], item, root, disabled = (item.text == page))
