include ../element/_button.pug
include ../element/_bage.pug

mixin side-bar(animal)
  -
    var data = [
      { name: 'panda',   id: 'icon-panda',   link: './panda.html' },
      { name: 'eagle',   id: 'icon-eagle',   link: './eagle.html' },
      { name: 'gorilla', id: 'icon-gorilla', link: './gorilla.html' },
      { name: 'lemur',   id: 'icon-lemur',   link: './lemur.html' },
    ];
    selfId = `icon-${animal}`;
    var {head, tail} = round(animal, {head: data.shift(), tail: data});

    function round(x, {head, tail} = barrel) {
      if (x == head.name) return {head:head, tail:tail};
      if (tail.every(y => y.name != x)) throw new Error(`'${x}' not found in ${tail}`);
      while (x != head.name) {
        tail.push(head);
        head = tail.shift();
      }
      return {head:head, tail:tail};
    }

  // ⚜️ BLOCK: SIDE-BAR ⚜️
  aside.side-bar
    .side-bar__menu
      .side-bar__control.side-bar__control-expand
        +bage('live', 'active')
        +btn-icon('button', 'icon-expand', {}, 'minimal')

      ul.side-bar__cams
        li.cam-selector.cam-selector--current
          div(class = `cam-icon cam-self ${head.id}`, title = head.animal)
            svg
              use(xlink:href = `#${head.id}`)
        each item in tail
          li.cam-selector
            a(class = `cam-icon cam-link ${item.id}`, href = item.link, title = item.name)
              svg
                use(xlink:href = `#${item.id}`)

      .side-bar__control.side-bar__control-scroll-down
        +btn-icon('button', 'icon-scroll-down', {}, 'minimal')


