-
  class Bem {
    constructor(self, mods, blocks) {
      this.self = Array.isArray(self) ? self : [self];
      this.bm = this.self.flatMap(b => (mods || []).map(m => `${b}--${m}`));
      this.be = this.self.flatMap(e => (blocks || []).map(b => `${b}__${e}`));
      this.bem = this.be.flatMap(be => (mods || []).map(m => `${be}--${m}`));
      this.fullClass = this.self.concat(this.bm, this.be, this.bem).join(' ');
    }

    elem(e) {
      return this.self.map(b => `${b}__${e}`).join(' ');
    }
  }
